@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Merriweather:wght@300&display=swap');

.title{
    display: block;
    max-width: 1600px;
    margin: 0 auto;
    font-family: Lemonada, Helvetica, sans-serif;
    font-size: 42;
    color: steelblue;
}

#navy{
    display: block;
    justify-content: left;
    margin-left: 100px;
}
nav a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24;
    color: #255277;
    text-decoration: none;
    padding: 10px;
}
nav a:hover{
    color: darkslateblue;
    background-color: lemonchiffon;
}