@media only screen and (min-width: 35rem){
    :root {
       --color-primary: #f5dc62;
       --color-secondary: #d4edf5;
       --color-accent: #2b3f2f;
       --color-background: #956a53;
       --color-text: #2a2318;
    }
    #title h1{    
        font-size: clamp(1.5rem, 0.75rem + 1.5vw, 2.5rem);         
    }
    #title h2{    
        font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);    
    }
   
    /*footer*/
    footer{
        font-size: clamp(0.6rem, 0.75rem + 1.5vw, 1rem);        
    }    
    #copyright{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        }
    #copyright p:nth-child(4){
        grid-column: span 3;
        text-align: center;
        border-top: 1px solid var(--color-secondary);
    }
    #copyright p{
        align-self: center;
    }
    #bold{
        border-left: 2px solid var(--color-secondary);
        border-right: 2px solid var(--color-secondary);
    }
    
}