body img{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    border: solid 10px #255277;
    border-radius: 150px;
}
body h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    color: steelblue;
    text-align: center;
}
body h2 a{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 36px;
    color: steelblue;
    text-align: center;
    text-decoration: none;
}
body h2 a:hover{
    color: darkslateblue;
    text-decoration: underline;
}
body p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: #255277;
    text-align: center;
}