@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Paprika&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.5;
}
header{
    display: grid;
    grid-template-columns: 80px  40% auto;
    background-color: #c8df8b;
}
header h1{
    font-family: "Paprika", cursive, sans-serif;
    color: #255277;
    text-align: center;
    font-size: clamp(0.8rem, 0.75rem + 1.5vw, 1.5rem);
    align-self: center;
}
/*css for hamburger button in navigation*/
nav button{
    margin: auto 2rem;
    background: transparent;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    color: #255277;
}
nav{
    background-color: #c8df8b;
    display: grid;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #255277;
    font-family: 'Abyssinica', Georgia, serif;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a{
    background-color: rgba(0,0,0,0.1);
    font-weight: bold;
}
nav ul li a:hover{    
    background-color: #42a7d6;
    color: #eefac2    
}
nav ul{
    display: none;
}
nav ul.open{
    display: block;
}
#hamburgerBtn span:nth-child(1){
    display: block;
}
#hamburgerBtn span:nth-child(2){
    display: none;
}
#hamburgerBtn.open span:nth-child(1){
    display: none;
}
#hamburgerBtn.open span:nth-child(2){
    display: block;
}

.logo{
    width: 60px;
    border-radius: 50%;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#home-grid{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
}
#home-img{
    width: 100%;
    box-sizing: border-box;
}
.home-title{
    color: #255277;
    font-family: "Paprika", cursive, sans-serif;
    font-weight: bold;
    text-align: center;  
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    margin-top: 0;
}
.intro{
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    height: max-content;
    padding: 30px;
    font-family: "Abyssinica SIL", serif, Helvetica;  
    border-top: 10px solid #95c025;
    border-bottom: 10px solid #95c025;
}
.intro h1{
    text-align: center;
    color: #255277;
    font-size: clamp(.8rem, 0.75rem + 1.5vw, 1.5rem);
    font-family: "Paprika", cursive, sans-serif;
}
.intro h2{
    text-align: center;
    font-family: "Paprika", cursive, sans-serif;
    color: #255277;
}
.intro p{
    text-align: left;
}
#background{
    display: none;
}
.client{
    display: none;
}
.msg{
    padding: 1rem;
    background-color: #255277;
}
.msg h2{
    color: #eefac2;
    font-family: "Paprika", cursive, sans-serif;
    text-align: center;
    font-size: 1em;
}
.msg p{
    color: white;
    font-family: "Abyssinica SIL", serif, Helvetica;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.button-box{
text-align: center;
padding: 10px;
}
.about-me{
    background-color: #c8df8b;
    color: #255277;
    text-decoration: none;
    font-family: "Abyssinica SIL", serif, Helvetica;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.about-me:hover{
    background-color: #42a7d6;
    color: #eefac2;
}

footer{
    background-color: #c8df8b;
    color: #255277;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social{
    display: flex;
    flex-direction: column;
}
footer a{
    color: #255277;
    text-decoration: none;
    font-family: "Abyssinica SIL", serif, Helvetica;
}
footer a:hover{
    background-color: #b4abb2;
    color: #eefac2;
    font-family: "Abyssinica SIL", serif, Helvetica;
}
footer p{
    font-family: "Abyssinica SIL", serif, Helvetica;
    padding: .5rem;
    text-align: center;
}
footer p a:hover{
    text-decoration: underline;
    font-family: "Abyssinica SIL", serif, Helvetica;
}
.social img{
    width: 40px;
}

/* css for about me page - slide show */
*{box-sizing: border-box;}
.container {   
    position: relative;
    margin: auto;
    max-width: 1000px;
} 
  /* Hide the images by default */
.mySlides {
    display: none;
    
}
.mySlides img{
    border: #255277 solid 10px;
    width: 80%;    
}  
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: #255277;
    background-color: transparent;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
}  
  /* Position the "next button" to the right */
.next {
    right: 5px;    
}
.prev{
    left: 5px;
} 
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: #eefac2;    
}  
  /* Number text (1/13 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}  
  /* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}  
.row:after {
    content: "";
    display: table;
    clear: both;
}  
/* columns side by side */
.column {
    float: left;
    width: 7.5%;
}  
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}  
.active,
.demo:hover {
    opacity: 1;
}
/*css for contact me page*/
#contact-grid{
    display: block;
}
#cont-background{
    display: none;
}
.cont-msg{
    display: block;  
    background-color: #255277;
    position: relative;
    padding: 1rem 0;
}
.contact{
    display: none;
}
.messenger h2{
    text-align: center;
    padding: 1rem;
    font-family:"Abyssinica SIL", serif, Helvetica;
    font-size: 1.2rem;
    color: #255277;
}
#icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;    
}
/*css for the form on contact me page*/
form {
    /* Center the form on the page */
    margin: 1ch;    
    /* Form outline */
    padding: 1em;
    border: 1px solid white;
    border-radius: 1em;
}  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}  
form li{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
}  
label {
    /* Uniform size & alignment */
    display: inline-block;
    text-align: left;
    padding: 5px;
    color: #eefac2;
    font-family: "Abyssinica SIL", serif, Helvetica;
}  
input, textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em serif;  
    /* Uniform text field size */    
    height: 44px;
    box-sizing: border-box;    
    /* Match form field borders */
    border: 1px solid #eefac2;
    border-radius: 10px;
}  
input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #255277;
}  
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;  
    /* Provide space to type some text */
    height: 5em;
}  
button#formButton{
    background-color: #c8df8b;
    color: #255277;
    font-family: "Abyssinica SIL", serif, Helvetica;
    font-size: 18px;
    padding: 1rem;
    margin: 1rem 10%;
    border-radius: 5px;
    width: 80%;
    max-width: 250px;
}
button#formButton:hover{
    background-color: #42a7d6;
    color: #eefac2;
}    
#feedback {
    background-color: #95c025;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}