@media only screen and (min-width: 64rem){
    header{
        grid-template-columns: 150px 40% auto;
    } 
    #content{        
        margin: 1ch 2vw;
    }   
    .logo{
        width: 100px;
    }    
    #home-grid{
        display: grid;
        grid-template-rows: 30px auto;
        grid-template-columns: 1fr;
        margin: 2rem;
    }
    #home-pic{
        grid-column: 1/2;
        grid-row: 1/3;
        z-index: -1;
    }
    #home-img{
        padding: 3rem 10rem;
        background-color: #eefac2;
    }
    .home-title{
        background-color: #eefac2;
    }
    #home-msg{
        grid-column: 1/2;
        grid-row: 1/2;    
    }
    #home-msg h1{
        text-align: center;            
    }
    #home-msg p{
        text-align: center;
        font-family: "Abyssinica SIL", serif, Helvetica;
        font-size: 1.2em;
        padding: 0 10rem;
    } 
    #client-grid{
        display: grid;
        grid-template-columns: 100px auto 100px auto 100px;
        grid-template-rows: 100px 100px auto 100px 100px;        
    }
    #background{
        display: block;
        grid-column: 1/6;
        grid-row: 1/6;
        background-color: #eefac2;
    }
    .client{
        display: block;
        grid-column: 2/4;
        grid-row: 2/5;
        height: 100%;
        width: 100%;
        object-fit: cover;
        box-sizing: border-box;
        box-shadow: 5px 5px 10px #95c025;
    }
    .msg{
        grid-column: 3/5;
        grid-row: 3/4;
        background-color: #255277;
        box-shadow: 5px 5px 10px #95c025;
    }    
    .msg h2{
        color: #eefac2;
        font-family: "Paprika", cursive, sans-serif;
        text-align: center;
        font-size: 1em;
    }
    
    .button-box{
    text-align: center;
    padding: 10px;
    }
    .about-me{
        background-color: #c8df8b;
        color: #255277;
        text-decoration: none;
        font-family: "Abyssinica SIL", serif, Helvetica;
        font-size: 18px;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }
    .about-me:hover{
        background-color: #42a7d6;
        color: #eefac2
    }
    .social{
        flex-direction: row;
    }
    .social img{
        margin: 1rem;
    }
    /*slide-conteiner*/
    .container {   
        width: 900px;
    } 
      /* Position the "next button" to the right */
    .next {
        right: -50px;
        border-radius: 10px;
    }
    .prev{
        left: -50px;
        border-radius: 10px;
    } 
    /*css for contact me page*/
    #contact-grid{
        display: grid;
        grid-template-columns: 100px auto 100px auto 100px;
        grid-template-rows: 100px 100px auto 100px 100px;
    }
    #cont-background{
        display: block;
        grid-column: 1/6;
        grid-row: 1/6;
        background-color: #eefac2;
    }
    .cont-msg{
        grid-column: 2/4;
        grid-row: 3/4;    
        background-color: #255277;
        box-shadow: 5px 5px 10px #95c025;
        position: relative;
    }
    .contact{
        display: block;
        grid-column: 3/5;
        grid-row: 2/5; 
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px #95c025;
    }    
    #icon{
        margin: 0 20vw;
    }
    /*css for the form on contact me page*/
    form li{
        flex-direction: column;    
    }     
    label {
        text-align: left;
        margin-left: 1rem;        
    }      
    input, textarea {       
        width: auto;
        margin-right: 1rem;
        margin-left: 1rem;
    }    
}
