*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Merriweather, Georgia, serif;
    font-size: 16px;
    line-height: 1;
}
header{
    font-size: clamp(0.8rem, 0.5rem + 1.5vw, 1.5rem);
    background-color: #15295D;
    color: #fefefe;
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
}
section{    
    border: 1px solid #15295D;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}
.cards{
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
}
h2{
    box-shadow: 0 0 10px 10px #15295D;
    text-align: center;
    padding: .5rem;
    margin: 2rem;
    background-color: #fefefe;
    color: #15295D;
}
p{
    text-align: center;
    background-color: #15295D;
    color: #fefefe;
    font-size: clamp(0.6rem, 0.5rem + 1.5vw, 1rem);
    margin: 0 2rem;
    padding: .3rem;
}
img{
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin: 2rem auto;
    border: 2px solid #fefefe;
    box-shadow: 0 0 10px 10px #15295D;
}

footer{
    font-size: clamp(0.6rem, 0.5rem + 1.5vw, 1rem);
    background-color: #15295D;
    color: #fefefe;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center
}

footer a{
    color: #fefefe;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}
