body{    
    font-size: 16px;
    line-height: 1.5;
    max-width: 1000px;
    margin: 10px auto;
}
main, header{
    background-color: #35aee5;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
div{
    margin: 10px;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    padding: .3rem;
    color: #571463;
}
nav a:hover{
    background-color: #131b82;
    color: antiquewhite;
}
#logolink{
    background-color: transparent;
}
.logo{
    width: 60px;
    border-radius: 50%;
}
footer p{
    background-color: #131b82;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    font-size: clamp(.8rem, 0.75rem + 1.5vw, 1.3rem);
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
header{
    margin: auto;
    text-align: center;
    color: #571463;
    font-family: Satisfy, cursive, serif;
}
header h1{
    font-size: clamp(1.5rem, 0.75rem + 1.5vw, 3rem);
}
h2{
    display: block;
    color: #131b82;
    font-style: italic;
    margin: 20px;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 0.75rem + 1.5vw, 2.5rem);
}
p{
    color: #131b82; 
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}
img#zodiac{
    width: 300px;
}
main{
    text-align: center;
}
#predictionImage{
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
#prediction{
    padding: 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    background-color: #c762c9;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
}
#prediction:hover{
    background-color: #131b82;
    color: antiquewhite;
}
#buttonDate{
    padding: 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    margin-top: 1rem;
    background-color: #c762c9;
    font-family: Roboto Slab, Arial, Helvetica, sans-serif;
}
#buttonDate:hover{
    background-color: #131b82;
    color: antiquewhite;
}
#birthdate{
    padding: 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    border: 2px ridge black;
    box-shadow: inset 0 0 2em #c762c9;
}
img.tarot{
    width: 150px;
}


