:root {
    --font-body: Roboto Slab, Arial, Helvetica, sans-serif;
    --font-headline: Satisfy, cursive, serif;
    /* colors */
    --primary-color: #131b82;
    --secondary-color: #571463;
    --tertiary-color: #35aee5;  
    --accent-color:  #c762c9;
}
main, header{
    background-color: #35aee5;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
    padding: .3rem;
    color: var(--secondary-color);
}
nav a:hover{
    background-color: var(--primary-color);
    color: antiquewhite;
}
#logolink{
    background-color: transparent;
}
.logo{
    width: 60px;
    border-radius: 50%;
}
footer p{
    background-color: var(--primary-color);
    color: antiquewhite;
    text-align: center;
    padding: 10px;
    font-size: clamp(.8rem, 0.75rem + 1.5vw, 1.3rem);
    font-family: var(--font-body);
    margin-top: 0;
    margin-bottom: 0;
}
footer a{
    color: antiquewhite;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
}
header{
    margin: auto;
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--font-headline);
    font-weight: bold;
}
header h1{
    font-size: clamp(1.5rem, 0.75rem + 1.5vw, 3rem);
    color: var(--secondary-color);
    font-style: italic; 
    text-shadow:  1px 1px 10px var(--accent-color);
}
h2{
    color: var(--primary-color);       
    font-family: var(--font-headline);
    font-size: clamp(1.5rem, 0.75rem + 1.5vw, 2.5rem);
    margin: 2rem auto;
}
h3{
    color: var(--primary-color);
    font-style: normal;
    margin: 10px;
    font-family: var(--font-body);
    font-size: clamp(1.3rem, 0.75rem + 1.5vw, 2rem);
}
p{
    color: var(--primary-color); 
    font-family: var(--font-body);
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}
img#zodiac{
    width: 300px;
    padding-top: 2rem;
}
#predictionImage{
    width: 100px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
#prediction, #resetbutton{
    padding: 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    background-color: var(--primary-color);
    font-family: var(--font-body);
    color: antiquewhite;
    margin: 1rem auto;
}
#prediction:hover, #resetbutton:hover{
    background-color: var(--primary-color);
    color: antiquewhite;
    cursor: pointer;
    transform: scale(1.1);
}
#buttonDate{
    padding: 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    margin-top: 1rem;
    background-color: var(--accent-color);
    font-family: var(--font-body);
}
#buttonDate:hover{
    background-color: var(--primary-color);
    color: antiquewhite;
    cursor: pointer;
}
#birthdate{
    padding: 10px;
    border-radius: 10px;
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    border: 2px ridge black;
    box-shadow: inset 0 0 2em var(--accent-color);
}
img.tarot{
    width: 150px;
}
#submit{
    color: transparent;
    background-color: transparent;
    border: transparent;
}
#submit:hover{
    cursor: pointer;
}
#myImage{
    width: 100px;
}
#cookie{
    height: 3rem;
}
