@media only screen and (min-width: 35rem){
    p{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    img#zodiac{
        width: 60vw;
        max-width: 900px;
    }
    .logo{         
        width: 80px;
    }
    nav a{
        padding: .5rem;
    }
    #myImage{
    width: 200px;
    }
    img.tarot {
    width: 150px;
    outline: 3px solid rgb(171, 129, 24);
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    }
}