@media only screen and (min-width: 64rem){
    header{
        grid-template-columns: 150px auto auto 150px;
        grid-template-rows: 150px auto;
    }
    .logo{
        margin: 1rem;
        max-inline-size: 100px;
    }
    #title h1{    
        font-size: clamp(2rem, 0.75rem + 1.5vw, 2.5rem);
        line-height: 0.1;
    }
    #title h2{    
        font-size: clamp(1.5rem, 0.75rem + 1.5vw, 3rem);    
    }    
    #socialMedia{
        grid-column: 4;
        text-align: left;
    }
    #socialMedia a img{
        max-inline-size: 50px;
        margin: .2vw;
    }
    nav{
        grid-column: 3;
        grid-row-start: 1;
        align-self: center;
    }
    nav button {
        display: none;
    }
    nav ul#primaryNav{
        grid-column: 3;
        display: flex;
        border-left: 1px solid rgba(0,0,0,0.3);
        font-size: clamp(0.8rem, 0.5rem + 1vw, 1.5rem);
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .5rem 1rem;      
    }
    .date{
        font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    }
    .gridView{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, auto);        
    }
    .hero{
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row: span 2;
    }
    .event{
        grid-row-start: 1;
        grid-column-start: 1;
    }
    .weather{
        grid-row-start: 2;
        grid-column-start: 1;
    }
    .join{
        grid-row-start: 3;
        grid-column-start: 1;
        height: auto;
    }
    .news{
        grid-row-start: 3;
        grid-column-start: 2;
    }
    .spotlight{
        grid-row-start: 1;
        grid-column-start: 3;
        grid-row: span 3;
    }
    .spotlight{
        display: grid;
        grid-template-columns: 1fr;        
    }
    .spotlight div{
        margin: .3rem 1vw;
        border: 1px solid rgba(0,0,0,0.5)
    }
    .spot3{
        background-color: #fefefe;
        display: flex;
        flex-direction: column;
        justify-content: space-around;        
    }
    #address img{
        max-inline-size: 100px;
        margin: 1rem 3rem;        
    }    
    #address{
        text-align: left;
        margin: 0.5rem auto;
    }
    #contactInfo{
        text-align: left;
    }
    #copyright{
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 2rem;
    }
    #copyright p:nth-child(4){
        grid-column: 4;
        border-left: 2px solid #fefefe;
    }
    .discover img{
        border: 4mm ridge rgba(21, 41, 93, .9);
        width: 500px;
        height: 600px;
        margin-right: 1rem;
        transition: width 0.2s ease-out 0.5s, height 0.2s ease-out 0.5s, border-radius 0.2s ease-out 0.5s;        
    }
    .discover{
        justify-content: space-evenly;
    }
    .discover p{
        align-self: center;
        width: 30vw;
        margin-right: 2rem;
        border-radius: 20px 5px;
        box-shadow: 0 0 2rem 2rem rgb(179, 220, 247);
    }
    .discover img:hover{
        border-radius: 50px 0;
        width: 70vw;
        height: 80vh;
    }
    /*css for join page*/
    #joinPage{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    form fieldset, table{
        margin: 1rem auto 2rem;
        width: 80%;        
    }
    form label input, form label textarea, form label select{      
        padding: 5px;
    }
    form input.submitBtn{        
        margin: .5rem 20% 1.5rem;
        width: 60%;     
    }
    th{
        padding: 1rem;
    }
    tfoot th{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    /*css for directory page list view*/    
    .list section{
        grid-template-columns: 20% 1fr 1fr 1fr;        
    }
    .list section p:nth-child(3){
        display: block;
    }
    /*css for contact page*/
    #contactForm fieldset{
        width: 50vw;
        margin: 0 0 1rem;
    } 
}
