:root {
    --font-body: "Noto sans", Helvetica, sans-serif;
    --font-headline: "Lato", "Arial Narrow Bold", sans-serif;
    /* colors */
    --primary-color: #4db057;
    --secondary-color: #e8cf4d;
    --tertiary-color: #5c5345;
    
}
* {
    box-sizing: border-box;
    margin: 0 2vw;
    font-size: 16px;
    line-height: 1.5;
}
header{
    display: flex;
    padding: 1rem;
    margin-top: 1rem;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}
header h1{
    font-family: var(--font-headline);
    text-align: center;
    font-size: clamp(0.8rem, 0.75rem + 1.5vw, 2rem);
    align-self: center;
}
/*css for Search field*/
#search{
    box-sizing: border-box;
    max-width: 200px;
    margin: 1rem auto;
    border: 4px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--tertiary-color);
}
#search a{
    display: block;
    text-align: center;
    align-self: center;
    padding: 0.5rem;
    color: var(--secondary-color);
    font-family: var(--font-headline);
    text-decoration: none;
    font-weight: bold;
}
#search:hover{  
    background-color: var(--primary-color);
}

/*css for logo */
.logo{
    width: 5rem;
    border-radius: 50%;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/*css for paragraph */
.intro{
    display: block;
    margin: 1rem;
    height: max-content;
    padding: 1rem;
    font-family: var(--font-body);  
    border-top: 10px solid var(--primary-color);
    border-bottom: 10px solid var(--primary-color);
    font-size: clamp(1rem, 0.75rem + 1.5vw, 1.5rem);
    text-align: center;
}
#homeimg{
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 90%;
}
#input{
    display: block;  
}
.choice{
    box-sizing: border-box;
    max-width: 200px;
    aspect-ratio: 3/2;
    margin: 1rem auto;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 10px 10px 5px var(--primary-color);
}
.choice label{
    display: block;
    padding-top: 1rem;
    font-size: clamp(0.6rem, 0.5rem + 1.5vw, 1rem);
    font-family: var(--font-body)
}
.choice label input, .choice label select{
    -webkit-appearance: none;
    appearance: auto;
    display: block;
    font-size: 0.9rem;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    padding: .5rem;
    width: 100%;    
}
.recipecards{
    box-sizing: border-box;
    margin: 0.5rem;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 10px 10px 5px var(--primary-color);
}


/*css for footer */
footer{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 0.5rem;
}
footer a{
    color: var(--tertiary-color);
    text-decoration: none;
    font-family: var(--font-body);
}
footer a:hover{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    text-decoration: none;
}
/*css for output page list view*/    
.list section{
    grid-template-columns: 20% 1fr 1fr 1fr;        
}
.list section p:nth-child(3){
    display: block;
}
/*css for the ouotput page*/
.dirMenu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    
}
#grid, #list{
    padding: 1rem;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid var(--secondary-color);
}
#grid:hover, #list:hover{
    background-color: var(--primary-color);    
}
.recipecards{
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
}
.recipecards h3{
    display: none;
}
.recipecards p{
    text-align: center;
    color: #15295D;
    font-size: clamp(0.6rem, 0.5rem + 1.5vw, 1rem);
    margin: 0 2rem;
    padding: .3rem;
}
.recipecards img{
    width: 250px;
    height: 100px;
    object-fit: contain;
    margin: 0 auto;
}
.list{
    display: flex;
    flex-direction: column;
    border: 1px solid #15295D;
    margin-bottom: 1rem;
}
.list .recipecards{
    margin: 0;
    display: block;
    
}
.list section{
    display: grid;
    grid-template-columns: 35% auto;
    margin: 0;  
    box-shadow: none;
    padding: .2rem;
    align-items: center;
}
.list h3{
    display: block;
    font-size:  clamp(0.6rem, 0.5rem + 1.5vw, 1rem);
    color: #15295D;    
}
.list section img{
    display: none;
}
.list section p{
    display: none;
}
.list section:nth-child(even){
    box-shadow: inset 0 -2em 2em lightskyblue;
}
/*css for larger screens */
 @media screen and (min-width: 600px){
    #copyright{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    #input, #output{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;  
    }
}